version: '3.9'

services:
  app:
    build:
      context: . # Use an image built from the specified dockerfile in the current directory.
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./cptch:/app/cptch
      - ./screenshots:/app/screenshots